*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/backend-change/.terraform/
!command/test-fixtures/backend-change/.terraform/terraform.tfstate
!command/test-fixtures/backend-new-legacy/.terraform/
!command/test-fixtures/backend-new-legacy/.terraform/terraform.tfstate
!command/test-fixtures/backend-new-migrate/terraform.tfstate
!command/test-fixtures/backend-new-migrate-existing/terraform.tfstate
!command/test-fixtures/backend-unset/.terraform/
!command/test-fixtures/backend-unset/.terraform/terraform.tfstate
